<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8"/>
    <title>404 Error Basic | Dashonic - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description"/>
    <meta content="Pichforest" name="author"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"/>
    <!-- Icons Css -->
    <link href="css/icons.min.css" rel="stylesheet" type="text/css"/>
    <!-- App Css-->
    <link href="css/app.min.css" id="app-style" rel="stylesheet" type="text/css"/>

</head>


<body>

<div class="authentication-bg min-vh-100">
    <div class="bg-overlay bg-white"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center py-5">
                    <h1 class="display-1 fw-normal error-text">4<img src="images/logo-sm.png" alt=""
                                                                     class="avatar-lg h-auto mx-2">4</h1>
                    <h4 class="text-uppercase text-muted">Opps, page not found</h4>
                    <div class="mt-5 text-center">
                        <a class="btn btn-primary" href="/">Back to Dashboard</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<script src="libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="libs/metismenujs/metismenujs.min.js"></script>
<script src="libs/simplebar/simplebar.min.js"></script>
<script src="libs/feather-icons/feather.min.js"></script>

</body>

</html>