<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>MERLIN FASHION CLUB</title>
    <meta name="keywords">
    <meta name="description" content="HTML Template">
    <meta name="author" content="Info">
</head>

<body>
<section>
    <div>
        <div>
            <h2 class="gi-title" th:text="#{register.register}">Register<span></span></h2>
            <p style="color: red" th:text="${msg}"></p>
        </div>
        <div class="row">
            <div class="gi-register-wrapper">
                <div class="gi-register-container">
                    <div class="gi-register-form">
                        <form action="/user/register" method="post">
                                <span class="gi-register-wrap gi-register-half">
                                    <label th:text="#{register.first.name}">First Name*</label>
                                    <input type="text" name="name" placeholder="Enter your first name" required>
                                </span> <br>
                            <span class="gi-register-wrap gi-register-half">
                                    <label th:text="#{register.last.name}">Surname*</label>
                                    <input type="text" name="surname" placeholder="Enter your last name" required>
                                </span>
                            <br>
                            <span>
                                    <label>Email*</label>
                                    <input type="email" name="email" placeholder="Enter your email add..." required>
                                </span>
                            <br>
                            <span>
                                    <label>Password*</label>
                                    <input type="password" name="password" placeholder="Enter your password"
                                           required>
                                </span>
                            <br>
                            <span>
                                    <span>Already have an account?<a href="/loginPage">Login</a></span>
                                    <button class="gi-btn-1" type="submit">Register</button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>